ErrorDocument 403 /index.php

RewriteEngine On

#удаляем повторяющиеся слэши
#todo два слеша после домена подставляют корень сайта
RewriteCond %{THE_REQUEST} \s[^?]*//
RewriteRule ^.*$ /$0 [R=301,L]

#перенаправление запросов на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.php [QSA,L]